/.idea/
/build/
/src/main/electron/node_modules/
/src/main/electron/.env
/src/main/electron/dist/
/.gradle/
/src/main/java/resources/commons-io-2.4.jar
/src/main/java/resources/GBSFingerprint-7.0.45.jar
/src/main/java/resources/jna-4.1.0.jar
/src/main/nodeServer/node_modules/
/src/main/nodeServer/resources/lib/commons-io-2.4.jar
/src/main/nodeServer/resources/lib/GBSFingerprint-7.0.45.jar
/src/main/nodeServer/resources/lib/jna-4.1.0.jar
